<!doctype html>
<html  lang="en" >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>RideAsOne</title>
        <meta name="description" content="Carpooling app for business">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" type="image/png" href="assets/icons/favicon.png" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/css/material-kit.css" />
        <link rel="stylesheet" href="/components/jquery-timepicker-wvega/jquery.timepicker.css" />
        <link rel="stylesheet" href="/assets/css/app.css">

        <!-- Vendor scripts -->
        <script src="/components/jquery/dist/jquery.min.js"></script>
        <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFTH_Sly3AHfEXLm_JsckSZaiQX8S49tk&libraries=places"></script>
        <script src="/components/angular/angular.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js">
        </script>
        <script src="/components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="/components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
        <script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="/components/moment/min/moment-with-locales.min.js"></script>
        <script src="/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <script src="/components/jquery-timepicker-wvega/jquery.timepicker.js"></script> 
      
        <script src="assets/js/material.min.js"></script>
        <script src="assets/js/jquery.easing.min.js"></script>
        <script src="assets/js/material-kit.js"></script>

        <!-- Angular -->
        <script src="/app/app.js"></script>
        <script src="/app/filters/passengers.js"></script>
        <script src="/app/services/apiservice.js"></script>
        <script src="/app/services/gservice.js"></script>
        <script src="/app/services/mapservice.js"></script>
        <script src="/app/controllers/headerCtrl.js"></script>
        <script src="/app/controllers/eventsCtrl.js"></script>
        <script src="/app/controllers/eventsShowCtrl.js"></script>
        <script src="/app/controllers/eventsNewCtrl.js"></script>
        <script src="/app/controllers/settingsCtrl.js"></script>
        <script src="/app/controllers/homeCtrl.js"></script>
        <!--Directives -->
        <script src="/app/directives/mapcanvas/mapcanvas.js"></script>
        <!--Factories -->
        <script src="/app/factories/mapfactory.js"></script>
        <script>
          var user=<%- JSON.stringify(user) %>;
          var user_name="<%= user.name%>";
          var user_id="<%= user.id%>";
        </script>
    </head>
    
    <body ng-app="carPoolingApp">
      <nav class="navbar navbar-fixed-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  
                  <a class="navbar-brand " href="#home">
                    <img class="logo" src="assets/img/logo.png" alt="">
                    Ride<span>as</span>one
                  </a>  
              </div>

              <div class="collapse navbar-collapse" id="navigation-main">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" >Home</a></li>
                    <li><a ui-sref="events"  ui-sref-active="active">Events</a></li>
                    <li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
                    <li role="separator" class="dividerv"></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="badgedanger">1</span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#">New passanger</a></li>
                        <li><a href="#">New passanger</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.name%> 
                        <img src="<%= user.photo%>" alt="<%= user.name%>" class="profile">
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#" >Your profile</a></li>
                        <li><a href="#">Logout</a></li>
                      </ul>
                    </li>
                  </ul>
              </div>
          </div>
      </nav>
      
      <section class="content">
        <mapcanvas id="map_canvas"></mapcanvas>
        <div ui-view></div>
      </section>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-75316638-1', 'auto');
        ga('send', 'pageview');
      </script>

  </body>
</html>
